name: Extract ZIP

on:
  workflow_dispatch:

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install unzip
        run: sudo apt-get install unzip

      - name: Extract ZIP
        run: |
          unzip Microsense_Complete.zip -d extracted_folder
          ls -R extracted_folder

      - name: Upload extracted files as artifact
        uses: actions/upload-artifact@v3
        with:
          name: extracted-microsense
          path: extracted_folder/
