name: Extract ZIP

on:
  workflow_dispatch:

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install unzip
      run: sudo apt-get install unzip

    - name: Unzip project
      run: unzip Microsense_Complete.zip -d extracted

    - name: Move files
      run: |
        cp -R extracted/* .
        rm -rf extracted

    - name: Delete ZIP
      run: rm Microsense_Complete.zip

    - name: Commit extracted files
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add .
        git commit -m "Extracted ZIP content" || echo "No changes"
        git push
